@model RecipeBuilder.ViewModels.AddRecipeViewModel

@{
    ViewData["Title"] = "Add";
}

<h2>Build</h2>
<p>Enter recipe name, ingredients, and instructions.  RecipeBuilder will build and save your recipe!</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredient" class="control-label"></label>
                <input asp-for="Ingredient" class="form-control" />
                <span asp-validation-for="Ingredient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredient" class="control-label"></label>
                <input asp-for="Ingredient" class="form-control" />
                <span asp-validation-for="Ingredient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredient" class="control-label"></label>
                <input asp-for="Ingredient" class="form-control" />
                <span asp-validation-for="Ingredient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredient" class="control-label"></label>
                <input asp-for="Ingredient" class="form-control" />
                <span asp-validation-for="Ingredient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructions" class="control-label">Enter Recipe Instructions</label>
                <textarea style="width: 200px; height: 300px;" asp-for="Instructions"></textarea>
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Build" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
