@model List<RecipeBuilder.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<table class="table">
    <thead>
        <tr>
                
                <th>
                    <h3>Recipe List</h3>
                </th>
               
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

   
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Add">Build New Recipe</a>
</p>


